* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #efe7be;
    min-height: 20%;
    margin-bottom: 5%;
}

header{
    height: 200px;
    background-color:#002635;
    color:#d97925;
    text-align: center;
    font-size: 2em;
    background-image: url("../images/logo3.png");
    background-repeat: no-repeat;
    background-position: left;
}

nav ul {
    height: 100%;
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
    background-color: #ab1a25;
    color: #efe7be;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
    height: 100%;
    width: 120px;
}
aside a{
    text-decoration: none;
}

aside a:visited{
    text-decoration: none;
    color:black;
}

nav a:visited{
    color: #efe7be;
}

h1{
    max-height: 100%;
    margin-top: 60px;
    position:absolute;
    left:36%;
}

h3{
    text-decoration: underline;
    padding-bottom: 5px;
 }

 div{
     padding-top: 20px;
     padding-bottom: 20px;
 }

 div img{
     padding:10px;
 }

 div p{
     padding-bottom: 20px;
 }

 table {
    table-layout: fixed;
    padding-left: 20px;
    width: 400px;
  }
  
  th,
  td {
    border: 1px solid black;
    overflow: hidden;
    background-color:#ab1a25;    
  }


footer {
    position:fixed;
    bottom:0;
    width:100%;
    height:70px;
    background-color:#002635;
    color:#d97925;
 }

 footer div{
     margin-left: 20px;
     position:absolute;
 }



main {
    display: grid;
    grid-template-areas:
    "section section section aside"
    "section section section aside"
    "section section section aside"
    "section section section aside"
    "section section section aside";
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    padding: 30px;

}
section{
    padding-right: 20px;
}

aside{
    padding-left: 20px;
}
aside img{
    padding:5px;
}

aside ul{
    padding:5px;
}

aside td{
    padding:5px;
}
aside p{
    font-size: 1.5em;
}

.box{
    padding: 40px;
    font-size: 1.25em;
}

.box1{
    grid-area: section;
}

.box2{
    grid-area: aside;
}

.box3{
    display: flex;
}

.image{
    float: left;
    margin-right: 20px;
}

.image1{
    float: right;
    margin-left: 20px;
}
.image2{
    padding:40px;
}

.float{
    clear: both;
}
.float1{
    padding-top: 10px;
}
.float2{
    padding:40px;
}
.text{
    color:black;
}

figure{
    padding: 10px;
}

/*#002635
#013440
#ab1a25
#d97925
#efe7be*/
